<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>
<form th:action="@{/form/processform}" th:object="${student}" method="POST">

    <label for="fname">First Name: </label>
    <input type="text" th:field="*{firstName}" id="fname"/>
    <br><br>
    <label for="lname">Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lname"/>
    <br><br>

    <label for="drop">Please select your country of origin: </label>
    <select th:field="*{country}" id="drop">
        <option th:each="tempCountry : ${allCountries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>
    <br><br>

    Select Your Favourite Programming Language:
    <input th:each="lg : ${allLanguages}" type="radio" th:field="*{favouriteLanguage}" th:value="${lg}" th:text="${lg}" />
    <br><br>

    Favourite Operating Systems:
    <input type="checkbox" th:field="*{operatingSystems}" th:each="os : ${allOS}" th:value="${os}" th:text="${os}"/>

    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>

